.container{
	margin: auto;
	display: flex;
	align-items: center;	
	justify-content: center;
	text-align: center;
	color:white;
}
.content1{
	background-color: white;
	color: black;
}
.h3{
	background-color: red;
}
.content1{
	border-radius: 10px;
}
.box{
	border-radius: 10px;
}
.boxs{
	padding: 3px;
}